extends ./layout.pug

block content
    div.py-4
        ul.list-group
            li.list-group-item
                button.btn.btn-lg.btn-primary.w-100 Performe Corpus Files Cleaning Pretraitment
            li.list-group-item
                button.btn.btn-lg.btn-primary.w-100 Create index from cleaned files
            li.list-group-item
                button.btn.btn-lg.btn-primary.w-100 Evaualte Files 
            li.list-group-item
                button.btn.btn-lg.btn-primary.w-100 Use Our Simple Search Engine  