extends ./layout.pug

block content
    div.py-4
        ul.list-group
            li.list-group-item
                a.btn.btn-lg.btn-primary.w-100(href="/clean") Corpus Files Cleaning Pretraitment
            li.list-group-item
                a.btn.btn-lg.btn-primary.w-100(href="/create_index") Create index from cleaned files
            li.list-group-item
                a.btn.btn-lg.btn-primary.w-100(href="/evaualte") Evaualte Files 
            li.list-group-item
                a.btn.btn-lg.btn-primary.w-100(href="/koogle") Use Our Simple Search Engine  